<!DOCTYPE html>
<html>
  <head>
    <title>Nowwat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <p>this is loaded from app/views/layouts/application.html.erb <br/> you 
    </p>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
