<!DOCTYPE html>
<html>
  <head>
    <title>Nowwat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_react' %>
    <p>this is loaded from app/views/layouts/application.html.erb <br/> 
    javascript_pack_tag to "application" is within this layout's header
    </p>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
touch app/javascript/components/{App.js,Editor.js,Header.js,TaskList.js}
